*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
  background: #E9EAD8;
  font-family: 'Roboto', sans-serif;
}

#add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
