.view {
  padding-left: 2rem;
  position: absolute;

  .header {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding-bottom: 2rem;
    user-select: none;
  }

  .subheader {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
    padding: 0.5rem 0 1.5rem 0;
    user-select: none;
  }

  &.add-folder {
    .searchBox {
      width: 55ch;
      padding-bottom: 1rem;

      .ui-select {
        font-size: 0.9rem !important;

        .ui-select__display-value {
          @include theme(light, color, $li-base);
          @include theme(dark, color, $dk-base);

          &.is-placeholder {
            @include theme(light, color, lighten($li-base, 30%));
            @include theme(dark, color, darken($dk-base, 30%));
          }
        }

        .ui-select__dropdown {
          @include theme(dark, background, lighten($dk-main-background, 70%));

          .ui-select-option {
            @include theme(dark, background, lighten($dk-main-background, 70%));
            &.is-highlighted {
              @include theme(dark, background, lighten($dk-main-background, 60%));
            }
          }
        }
      }
    }

    .subfolders {
      padding-bottom: 1rem;
    }

    .ui-checkbox {
      .ui-checkbox__checkmark {
        background: none;
      }

      &.is-disabled {
        .ui-checkbox__label-text {
          @include theme(light, color, lighten($li-base, 30%));
          @include theme(dark, color, darken($dk-base, 30%));
        }
      }

      .ui-checkbox__label-text {
        user-select: none;
        @include theme(light, color, $li-base);
        @include theme(dark, color, $dk-base);
      }
    }

    .buttons {
      width: 55ch;
      margin-top: 1.5rem;
      display: flex;
      align-content: center;

      button {
        margin-right: 0.5rem;
      }
    }
  }

  hr {
    margin: 3rem 0 1rem 0;
  }

  &.settings {
    .cols-wrap {
      display: flex;
      flex-direction: row;

      > div:first-child {
        padding-right: 3rem;
      }

      .box {
        .columns-input, .themes-input {
          width: 6rem;

          .ui-select__display-value {
            @include theme(light, color, $li-base);
            @include theme(dark, color, $dk-base);

            &.is-placeholder {
              text-transform: capitalize;
              @include theme(light, color, lighten($li-base, 30%));
              @include theme(dark, color, darken($dk-base, 30%));
            }
          }

          .ui-select__dropdown {
            min-width: 6rem;

            .ui-select__options {
              @include theme(dark, background, lighten($dk-main-background, 70%));
            }
          }
        }
      }
    }

    .options-save {
      margin-top: 1rem;
    }
  }

  &.reset {
    .subheader.reset {
      display: flex;
      align-content: center;
      align-items: center;

      svg.help {
        margin-left: 0.5rem;
        width: 1em;
        height: 1rem;

        @include theme(light, fill, lighten($li-base, 20%));
        @include theme(dark, fill, darken($dk-base, 20%));
      }
    }

    .reset-wrap {
      padding: 0;
      margin-top: 1rem;

      button {
        margin-right: 0.3rem;
      }
      .resetb {
        min-width: 18ch;
      }
    }
  }
}
