.view {
  padding-left: 2rem;
  position: absolute;

  @include theme(light, background, $li-main-background-active);
  @include theme(dark, background, $dk-main-background-active);

  .header {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding-bottom: 2rem;
  }

  .subheader {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
    padding: 0.5rem 0 1.5rem 0;
  }

  &.add-folder {
    .searchBox {
      width: 55ch;
      padding-bottom: 1rem;

      .ui-select {
        font-size: 0.9rem !important;
      }
    }

    .subfolders {
      padding-bottom: 1rem;
    }

    .buttons {
      width: 55ch;
      margin-top: 1.5rem;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;

      button {
        margin: 0 0.5rem;
      }
    }
  }

  hr {
    margin: 3rem 0 1rem 0;
  }

  &.settings {
    .cols-wrap{
      display: flex;
      flex-direction: row;

      > div:first-child {
        padding-right:  3rem;
      }

      .box {
        .columns-input, .themes-input {
          width: 6rem;

          .ui-select__display-value.is-placeholder {
            text-transform: capitalize;
          }

          .ui-select__dropdown {
            min-width: 6rem;
          }
        }
      }
    }

    .options-save {
      margin-top: 1rem;
    }

    .reset-wrap {
      padding: 0;

      button {
        margin-right: 0.3rem;
      }
      .resetb {
        min-width: 18ch;
      }
    }
  }
}
