// APPLICATION MENU
// ------------------------------------
.menu-actions {
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  z-index: 10;

  @include theme(light, background, $li-main-background-active);
  @include theme(dark, background, $dk-main-background-active);

  .menu-item {
    text-decoration: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
    position: relative;
    text-align: center;
    display: inline-block;
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 3px;

    svg {
      width: 2rem;
      height: 2rem;
      transition: fill .3s ease-in-out;

      @include theme(light, fill, $li-base);
      @include theme(dark, fill, $dk-base);
    }

    &:hover {
      svg {
        $light: lighten($li-base, 15%);
        $dark: lighten($dk-base, 50%);

        @include theme(light, fill, $light);
        @include theme(dark, fill, $dark);
      }
    }

    &.active {
      svg {
        @include theme(light, fill, $li-accent-1);
        @include theme(dark, fill, $dk-accent-1);
      }
    }
  }
}
