// APPLICATION MENU
// ------------------------------------
.menu-actions {
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  z-index: 10;
  background: $li-main-background-active;

  .menu-item {
    text-decoration: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
    position: relative;
    text-align: center;
    display: inline-block;
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 3px;

    svg {
      width: 2rem;
      height: 2rem;
      fill: $li-base;
      transition: fill .3s ease-in-out;
    }

    &:hover {
      svg {
        fill: lighten( $li-base, 15% );
      }
    }


    &.active {
      svg {
        fill: $li-accent-1;
      }
    }
  }
}
