// CARDS & LISTS
// ------------------------------------
.cards-container {
  width: 98%;
  margin: 0 1rem auto;

  // List wrapper
  // --------------------
  .card {
    border-radius: 0.2rem 0.2rem 0 0;

    @include theme(light, background, $li-main-background-active);
    @include theme(dark, background, $dk-main-background-active);

    &.col-2 {
      width: 49%;
    }

    &.col-3 {
      width: 32%;
    }

    &.col-4 {
      width: 24%;
    }

    // Draggabilly dragging style
    // --------------------
    &.is-dragging {
      z-index: 5;

      > .list {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }
    }

    .list {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      position: relative;
      border-radius: 0.2rem;

      // Shadow
      // --------------------
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 0.2rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out;
      }

      &:hover:after {
        opacity: 0.3;
      }

      .header {
        border-radius: 0.2rem 0.2rem 0 0;
        padding: 0.2rem 0.6rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease-out;

        &.default { background: #ea404e; color: lighten(#EA404E, 45%)}
        &.a { background: #DE2C2E; color: lighten(#DE2C2E, 30%); }
        &.b { background: #37ae52; color: darken(#37ae52, 30%); }
        &.c { background: #6E1E45; color: lighten(#6E1E45, 30%); }
        &.d { background: #1c4a86; color: lighten(#1c4a86, 30%); }
        &.e { background: #FF6D24; color: darken(#FF6D24, 30%); }
        &.f { background: #34454a; color: lighten(#34454A, 30%); }
        &.g { background: #89cf68; color: darken(#89cf68, 30%); }
        &.h { background: #4b2819; color: lighten(#4B2819, 30%); }
        &.i { background: #FFC84E; color: darken(#FFC84E, 30%); }
        &.j { background: #A3A7AA; color: darken(#A3A7AA, 30%); }

        p {
          margin: 0;
          user-select: none;
          font-size: 0.9rem;
          display: inline-block;
          font-weight: 500;
          width: 100%;
        }

        .close-icon {
          opacity: 0.15;
          transition: all 0.4s cubic-bezier(.25, .8, .25, 1);

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }

      // The actual link list
      // --------------------
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
          padding: 0.3rem 0;

          a {
            text-decoration: none;
            display: flex;
            transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
            flex-direction: row;
            align-content: center;
            align-items: center;
            font-size: 0.8rem;
            user-select: none;

            @include theme(light, color, $li-base);
            @include theme(dark, color, $dk-base);

            &:hover {
              @include theme(light, color, darken($li-accent-2, 40%));
              @include theme(light, background, $li-light);

              @include theme(dark, color, darken($dk-base, 80%));
              @include theme(dark, background, lighten($dk-main-background, 15%));
            }

            span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 80%;
            }
          }
        }
      }

      img {
        user-select: none;
        margin: 0.5rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
