// MENU
// ------------------------------------
.menu-container {
  margin-bottom: 0.3rem;
  border-bottom: 1px solid transparent;

  &.active {
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-top: 0.1rem;

    // Menu toggle
    // --------------------
    #menu-button {
      padding: 0 0.2rem;

      .ui-icon.material-icons.menu {
        color: #BDBDBD;
      }

      .menu-circle {
        fill: #424242;
      }
    }

    .menu-actions {
      .menu-item {
        text-decoration: none;
        padding: 0.45rem 1.5rem;
        color: #424242;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.03rem;
        font-size: 0.9rem;
        position: relative;
        text-align: center;
        display: inline-block;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        border-radius: 0.1rem 0.1rem 0 0;

        :hover{
          color: #2196f3;
        }

        &.active{
          color: #2196f3;
        }
      }
    }
  }
}