body {
  background: #282828;
  font-family: 'Roboto', sans-serif;
}

.hidden{
  display: none;
}

/* NO DATA */
#no-data, #duplicates, #content, #no-bookmarks {
  height: 95vh;
}
#no-data .infotext {
  color: #A0B475;
}
#duplicates .infotext {
  color: #DF9560;
}
#no-bookmarks .infotext {
  color: #AE4544;
}
.infotext {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.source-name {
  font-weight: 600;
}

.emoji {
  display: block;
  font-size: 5rem;
  text-align: center;
}


/* CONTENT */
.card {
  background-color: rgba(56, 56, 56, 1);
  border-radius: 3%;
  display: inline-flex;
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card img{
  width: 2rem;
  height: 2rem;
}

.card:hover {
  box-shadow: none;
  background-color: rgba(56, 56, 56, 0);
}

.card:hover img {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.box {
  text-align: center;
}