// VARS
// ------------------------------------
// Light Theme
$li-base: #424242;
$li-accent-1: #2196f3;
$li-accent-2: #FF404C;
$li-light-1: #D1EDF3;
$li-light-2: #505DB7;
$li-main-background: #F8F9FB;
$li-main-background-active: #FFF;

// IMPORTS
// ------------------------------------
@import 'Helpers';
@import 'Transitions';
@import 'Components/ActionWindow';
@import 'Components/MenuButton';
@import 'Components/AppMenu';
@import 'Components/List';
@import 'Components/Onboarding';

// BASE
// ------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: $li-main-background;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

// APP CONTAINER
// ------------------------------------
#hensomerce {
  min-height: 100vh;
  width: 100%;
  transition: background 0.4s ease-in-out;
  overflow-x: hidden;
  padding-bottom: 1rem;

  &.active {
    background: $li-main-background-active;
  }
}

// CONTENT
// ------------------------------------
.content {
  position: relative;
  #action-window {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;

    .view {
      .search-input {
        width: 100%;
      }
    }
  }

  #content-window {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
