// VARS
// ------------------------------------
// Light Theme
$li-base: #424242;
$li-accent-1: #2196f3;
$li-accent-2: #FF404C;
$li-light: #D1EDF3;
$li-main-background: #F8F9FB;
$li-main-background-active: #FFF;

// Dark Theme
$dk-base: #b2b2b2;
$dk-accent-1: #27c7f3;
$dk-accent-2: #556361;
$dk-main-background: #333333;
$dk-main-background-active: #424242;

// IMPORTS
// ------------------------------------
@import 'Helpers';
@import 'Transitions';
@import 'Components/ActionWindow';
@import 'Components/MenuButton';
@import 'Components/AppMenu';
@import 'Components/List';
@import 'Components/Onboarding';

// BASE
// ------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;

  &.light {
    background: $li-main-background;
  }
  &.dark {
    background: $dk-main-background;
  }
}

// APP CONTAINER
// ------------------------------------
#hensomerce {
  min-height: 100vh;
  width: 100%;
  transition: background 0.4s ease-in-out;
  overflow-x: hidden;
  padding-bottom: 1rem;

  @include theme(light, color, $li-base);
  @include theme(dark, color, $dk-base);

  &.active {
    @include theme(light, background, $li-main-background-active);
    @include theme(dark, background, $dk-main-background-active);
  }
}

// CONTENT
// ------------------------------------
.content {
  position: relative;
  #action-window {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;

    .view {
      .search-input {
        width: 100%;
      }
    }
  }

  #content-window {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
  }
}
