// HELPER CLASSES
// ------------------------------------
.reset-space {
  padding: 0;
  margin: 0;
}

.center-content {
  text-align: center;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}