// HELPERS
// ------------------------------------

// Classes
// --------------------
.reset-space {
  padding: 0;
  margin: 0;
}

.center-content {
  text-align: center;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// Theme shortcut
// Names are defined in body properties
// --------------------
@mixin theme($name, $property, $val) {
  body.#{$name} & {
    #{$property}: $val;
  }
}
